####################################################
# Operating System
####################################################

.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
Thumbs.db

####################################################
# IntelliJ IDEA
####################################################

.idea/
*.iml
*.ipr
*.iws
out/

####################################################
# Maven
####################################################

target/
dependency-reduced-pom.xml

####################################################
# Spring Boot
####################################################

logs/
*.log
src/main/resources/application.yml
spring.log

####################################################
# Java
####################################################

*.class
*.jar
*.war
*.ear